<div style="margin: 10px;">
    <h3><a routerLink="query">Query Component Demo</a></h3>
    <h3><a routerLink="sentence">Sentence Component Demo</a></h3>
    <h3><a routerLink="large_amount">Large Amount Test</a></h3>
    <h3><a routerLink="reactive">Reactive Form Demo</a></h3>
    <h3><a routerLink="coordinator">Coordinator Service Demo</a></h3>
    <h3><a href="/assets/sp-counseling/prototype.html">Counseling Prototype A</a></h3>
    <h3><a href="/assets/sp_counseling-b/prototype.html">Counseling Prototype B</a></h3>
    <h3><a href="https://testapp-2cb73.firebaseapp.com/C7FF82EC-F412-4566-ACDE-4888751F70E0/content.html#/counsel">Counseling Public Beta B</a></h3>
</div>
