<a routerLink="/research">Go Back</a>
<div class="card">
  <div class="card-body">
    <button class="btn btn-primary m-1" type="button"
            (click)="_show_all = !_show_all">Show All Question</button>
    <button class="btn btn-primary m-1" type="button"
            (click)="toggleDisabled()">Toggle Disable</button>
    <button class="btn btn-primary m-1" type="button"
            (click)="toggleDebug()">Toggle Debug</button>
    <button class="btn btn-primary m-1" type="button"
            (click)="resetValues()">Reset Values</button>
    <ul>
      <li>query-form 重新 binding 時需要清除 Option Check State。</li>
      <li >Show / Hide 時為什麼會引發 ValueChange 問題。</li>
      <li>思考在 query form component 增加 suspending 功能，解決一些事件重複 emit 問題。</li>
      <li class="clean">Sentence Component 的 TextArea 支援</li>
      <li class="clean">Matrix 的結果需要填入 AnswerValue 欄位。</li>
      <li class="clean">sentence text 中的常值需要填入 matrix 陣列裡。</li>
      <li class="clean">「填答」的題型第一次顯示的時後不會驗證值。</li>
      <li class="clean">必填問題(Require、RequireLink)</li>
      <li class="clean">必填機制：text => 要填值、radio => 需要選一個、chekbox => 至少選一個。</li>
      <li class="clean">如果有 radio、checkbox 有 check 所屬 matrix 都需要有值。</li>
      <li class="clean">Disable / Enable 產生 form control 消失問題。</li>
      <li class="clean">輸入文字框時，要自動選擇 Radio、Checkbox。</li>
      <li class="clean">Rest Values 功能。</li>
      <li class="clean">資料量大的效率問題(Production Mode 會改善)。</li>
    </ul>
  </div>
</div>

<ng-container *ngIf="!_show_all">

  <div class="card mb-3" style="margin: 15px">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">
          出生地(Valid: {{dataControl[0].valid}})
          <pre>({{dataControl[0].errors | json}})</pre>
        </div>
        <div app-query-form [formControl]="dataControl[0]" [debug]="_debug"
             #query="appQueryForm"
             class="col-sm-10 query"></div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="margin: 15px">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">原住民(Valid: {{dataControl[1].valid}})
            <pre>({{dataControl[1].errors | json}})</pre>
        </div>

        <div app-query-form [formControl]="dataControl[1]"
             class="col-sm-10 query"
             #query="appQueryForm" [debug]="_debug"></div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="margin: 15px">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">學生身分(Valid: {{dataControl[2].valid}})
            <pre>({{dataControl[2].errors | json}})</pre>
        </div>
        <div app-query-form [formControl]="dataControl[2]"
             #query="appQueryForm"
             class="col-sm-10 query"
             [debug]="_debug"></div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="margin: 15px">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">學生身心障礙(Valid: {{dataControl[3].valid}})
            <pre>({{dataControl[3].errors | json}})</pre>
        </div>
        <div app-query-form [formControl]="dataControl[3]"
             #query="appQueryForm"
             class="col-sm-10 query"
             [debug]="_debug">
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="margin: 15px">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2 font-weight-bold">身心心得(Valid: {{dataControl[4].valid}})
              <pre>({{dataControl[4].errors | json}})</pre>
          </div>
          <div app-query-form [formControl]="dataControl[4]"
               #query="appQueryForm"
               class="col-sm-10 query"
               [debug]="_debug">
          </div>
        </div>
      </div>
    </div>
</ng-container>

<ng-container *ngIf="_show_all">
  <div class="card mb-3" style="margin: 15px"
       *ngFor="let query of fulldataGroup">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">自動產生</div>
        <div app-query-form [formControl]="query" class="col-sm-10 query"
             [debug]="_debug">
        </div>
      </div>
    </div>
  </div>
</ng-container>
