<a routerLink="/research">Go Back</a>
<div class="card">
  <div class="card-body">
    <button class="btn btn-primary m-1" type="button"
            (click)="_show_all = !_show_all">Show All Question</button>
    <button class="btn btn-primary m-1" type="button"
            (click)="toggleDisabled()">Toggle Disable</button>
    <button class="btn btn-primary m-1" type="button"
            (click)="toggleDebug()">Toggle Debug</button>
    <button class="btn btn-primary m-1" type="button"
            (click)="resetValues()">Reset Values</button>
    <ul>
      <li>Rest Values 功能。</li>
      <li>輸入文字框時，要自動選擇 Radio、Checkbox。</li>
      <li>必填問題(Require、RequireLink)</li>
      <li>必填機制：text => 要填值、radio => 需要選一個、chekbox => 至少選一個。</li>
      <li>如果有 radio、checkbox 有 check 所屬 martix 都需要有值。</li>
      <li>Sentence Component 的 TextArea 支援</li>
      <li>sentence text 中的常值需要填入 martix 陣列裡。</li>
      <li class="clean">資料量大的效率問題(Production Mode 會改善)。</li>
      <li class="clean">Show / Hide 時為什麼會引發 ValueChange 問題(本來就這樣)。</li>
    </ul>
  </div>
</div>

<ng-container *ngIf="!_show_all">

  <div class="card mb-3" style="margin: 15px">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">出生地</div>
        <div app-query-form [formControl]="dataControl[0]" [debug]="_debug"
             class="col-sm-10 query"></div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="margin: 15px">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">原住民</div>
        <div app-query-form [formControl]="dataControl[1]"
             class="col-sm-10 query"
             #query="appQueryForm" [debug]="_debug"></div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="margin: 15px">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">學生身分</div>
        <div app-query-form [formControl]="dataControl[2]"
             class="col-sm-10 query"
             [debug]="_debug"></div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="margin: 15px">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">學生身心障礙</div>
        <div app-query-form [formControl]="dataControl[3]"
             class="col-sm-10 query"
             [debug]="_debug">
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="_show_all">
  <div class="card mb-3" style="margin: 15px"
       *ngFor="let query of fulldataGroup">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 font-weight-bold">自動產生</div>
        <div app-query-form [formControl]="query" class="col-sm-10 query"
             [debug]="_debug">
            </div>
      </div>
    </div>
  </div>
</ng-container>
