<form [formGroup]="_questionGroup">
  <ng-container formArrayName="questions">

    <div *ngFor="let question of getQuestionsControl()" class="question">
      <div class="mb-3 mr-2" *ngIf="question.value.Text">{{question.value.Text}}</div>
      <ng-container [formGroup]="question">
        <ng-container formArrayName="Options">
          <div *ngFor="let option of getOptionsControl(question)">
            <!-- radio -->
            <ng-container *ngIf="question.value.Type === '單選'" [formGroup]="option">
              <div
                class="custom-control custom-radio custom-control-inline mb-3">
                <input type="radio" [attr.id]="c_option(option).OptionCode"
                  value="true"
                  [attr.name]="c_question(question).QuestionCode"
                  formControlName="AnswerChecked" class="custom-control-input">
                <label class="custom-control-label"
                  [attr.for]="c_option(option).OptionCode">
                  <app-sentence
                    [text]="c_option(option).OptionText"
                    formControlName="AnswerMatrix"></app-sentence>
                </label>
              </div>
            </ng-container>

            <!-- checkbox -->
            <ng-container *ngIf="question.value.Type === '複選'" [formGroup]="option">
              <div
                class="custom-control custom-checkbox custom-control-inline mb-3 ">
                <input type="checkbox" class="custom-control-input"
                  [attr.id]="c_option(option).OptionCode"
                  formControlName="AnswerChecked"
                  >
                <label class="custom-control-label"
                  [attr.for]="c_option(option).OptionCode">
                  <app-sentence
                    [text]="c_option(option).OptionText"
                    formControlName="AnswerMatrix"></app-sentence>
                </label>
              </div>
            </ng-container>

            <!-- text input -->
            <ng-container *ngIf="question.value.Type === '填答'" [formGroup]="option">
              <app-sentence
                [text]="c_option(option).OptionText"
                formControlName="AnswerMatrix"></app-sentence>
            </ng-container>

            <pre *ngIf="displayJson">{{option.value | json}}</pre>
          </div>
        </ng-container>
      </ng-container>
    </div>

  </ng-container>

</form>

