<a routerLink="/research">Go Back</a>
<div class="card mb-3" style="margin: 15px">
  <div class="card-body">
    <h5 class="card-title">Sentence Component Demo</h5>

    <app-sentence [disabled]="isDisabled" [required]="isRequired" name="summary1" [(ngModel)]="martix" [text]="sentence" #my="ngModel" #st></app-sentence>

    <div style="display:flex;align-items: center;">
        <div class="item">touched: {{my.touched}}</div>
        <div class="item">valid: {{my.valid}}</div>
        <button type="button" (click)="my.reset()" class="item">Reset</button>
        <button type="button" (click)="isDisabled = !isDisabled" class="item">Switch Disabled</button>
        <button type="button" (click)="isRequired = !isRequired" class="item">Switch Required</button>
    </div>
    <div class="item">valid: {{st.value}}</div>
    <div class="item">completed: {{st.completed}}</div>
    <!-- <app-sentence name="summary2" [formControl]="martixControl" [text]="sentence"></app-sentence> -->
  </div>
</div>

<form >
  <input name="sentence" type="text" [(ngModel)]="sentence" style="width: 100%">
  <button type="button" (click)="martix=['', '雪莉、安潔莉娜', '', '露娜', '', '', '', '安潔莉娜']">Change</button>
  <div>sentence: {{sentence}}</div>
  <div>martix: {{martix | json}}</div>
  <div>value: {{value}}</div>
  <div>tokens:
    <pre>{{data | json}}</pre>
  </div>
</form>
